"""{{ name_pascal }} Action Provider.

This file contains the implementation of the {{ name_pascal }}ActionProvider,
which provides actions for {{ name }} operations.

@module {{ name }}
"""

{% set header_template = "action_provider/header/" + provider_key + ".py.template" %}
{% include header_template %}

{% set class_template = "action_provider/class/" + provider_key + ".py.template" %}
{% include class_template %}

{% include "action_provider/constructor/default.py.template" %}

{% include "action.py.template" %}

{% if not protocol_family %}
{% include "action_provider/network_support/default.py.template" %}
{% elif protocol_family != "all" and network_ids|length == 0 %}
{% include "action_provider/network_support/protocol.py.template" %}
{% elif protocol_family != "all" and network_ids|length > 0 %}
{% include "action_provider/network_support/protocol_network.py.template" %}
{% endif %}

{% include "action_provider/factory/default.py.template" %}

