class {{ name_pascal }}ActionProvider(ActionProvider[{{ wallet_provider }}]):
    """{{ name_pascal }}ActionProvider provides actions for {{ name }} operations.

    This provider is designed to work with {{ wallet_provider }} for blockchain interactions.
    {% if not protocol_family %}
    It supports all blockchain networks.
    {% elif network_ids|length == 0 %}
    It supports all {{ protocol_family }} networks.
    {% else %}
    It supports {{ protocol_family }} networks: {% for networkId in network_ids %}{{ networkId }}{% if not loop.last %}, {% endif %}{% endfor %}.
    {% endif %}

    This provider requires a {{ wallet_provider }} for blockchain interactions.
    """