@pytest.fixture
def mock_wallet_provider():
    """Create a mock wallet provider for testing."""
    mock = Mock(spec={{ wallet_provider }})
    mock.get_network.return_value = Network(
        protocol_family="{{ protocol_family }}",
        {% if network_ids|length %}
        network_id="{{ network_ids[0] }}",
        {% if protocol_family == "evm" %}
        chain_id=NETWORK_ID_TO_CHAIN_ID["{{ network_ids[0] }}"],
        {% endif %}
        {% else %}
        network_id=None,
        chain_id=None,
        {% endif %}
    )
    return mock 