def test_supports_configured_networks(provider):
    """Test that provider supports configured networks."""
    {% for networkId in network_ids %}
    network = Network(
        network_id="{{ networkId }}",
        protocol_family="{{ protocol_family }}",
        {% if protocol_family == "evm" %}
        chain_id=NETWORK_ID_TO_CHAIN_ID["{{ networkId }}"],
        {% endif %}
    )
    assert provider.supports_network(network) is True
    {% endfor %}

def test_does_not_support_other_networks(provider):
    """Test that provider does not support other networks."""
    network = Network(
        protocol_family="{{ protocol_family }}",
        network_id="other-network-id",
        chain_id="999999"
    )
    assert provider.supports_network(network) is False 