"""Tests for {{ name_pascal }}ActionProvider."""

{% set header_template = "action_provider_test/header/" + provider_key + ".py.template" %}
{% include header_template %}

{% include "action_provider_test/test_initialization/default.py.template" %}

{% if not protocol_family %}
{% include "action_provider_test/test_network_support/default.py.template" %}
{% endif %}
{% if protocol_family and not network_ids|length %}
{% include "action_provider_test/test_network_support/protocol.py.template" %}
{% endif %}
{% if protocol_family and network_ids|length %}
{% include "action_provider_test/test_network_support/protocol_network.py.template" %}
{% endif %}

{% if protocol_family %}
{% include "action_provider_test/test_network_support/invalid.py.template" %}
{% endif %}