from typing import Any

from ...network import Network
from ...wallet_providers import {{ wallet_provider }}
from ..action_decorator import create_action
from ..action_provider import ActionProvider
from .schemas import ExampleActionSchema
