import pytest

from coinbase_agentkit.action_providers.{{ name }}.{{ name }}_action_provider import {{ name_pascal }}ActionProvider
from coinbase_agentkit.action_providers.{{ name }}.schemas import ExampleActionSchema 