from unittest.mock import Mock

import pytest

from coinbase_agentkit.action_providers.{{ name }}.{{ name }}_action_provider import {{ name_pascal }}ActionProvider
from coinbase_agentkit.action_providers.{{ name }}.schemas import ExampleActionSchema
{% if protocol_family == "evm" and network_ids|length %}
from coinbase_agentkit.network import NETWORK_ID_TO_CHAIN_ID, Network
{% else %}
from coinbase_agentkit.network import Network
{% endif %}
from coinbase_agentkit.wallet_providers import {{ wallet_provider }} 